@define-color bg #1c1b19;
@define-color fg #fce8c3;
@define-color fg-light #ddc7a1;
@define-color red #ef2f27;
@define-color orange #e78a4e;
@define-color yellow #fbb829;
@define-color green #519f50;
@define-color aqua #0aaeb3;
@define-color blue #68a8e4;
@define-color purple #e02c6d;



* {
  min-height: 0;
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-size: 9pt;
  /* font-weight: 500; */
}

tooltip {
  background: @bg;
}

window#waybar {
  background-color: transparent;
  color: @red;
}

window#waybar.solo {
  background-color: @bg;
  color: @red;
}

/*
window#waybar.solo #workspaces button {
  border-radius: 5px;
}
*/

/*
#mode {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @red;
}
*/

#network {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0 0 0 7px;
  background-color: #3c3836;
  color: @fg;
}
/* #network.wifi, */
/* #network.ethernet { */
/*   color: @green; */
/* } */
#network.linked {
  color: @fg;
}
#network.disconnected,
#network.disabled {
  color: @red;
}

#pulseaudio,
#cpu {
  padding-left: 10px;
  padding-right: 10px;
  color: @fg;
  background-color: #282828;
}
#memory,
#temperature,
#backlight,
#battery {
  padding-left: 10px;
  padding-right: 10px;
  color: @fg;
  background-color: #3c3836;
  border-radius: 0 0 7px 0;
}

#custom-playerctl {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0 0 7px 7px;
  color: @fg;
  background-color: @bg;
}

#custom-notifications {
  padding-left: 10px;
  padding-right: 10px;
  color: @fg;
  background-color: @bg;
}

#pulseaudio.muted {
  background-color: @bg;
  color: @red;
}

#clock {
  padding-left: 10px;
  padding-right: 10px;
  color: @fg;
  background-color: #282828;
}

#workspaces {
  padding-left: 0;
  padding-right: 0;
  background-color: #1d2021;
}

#workspaces button {
  color: @fg;
}

#workspaces button.active {
  color: @blue;
}

#workspaces button:hover{
  background-color: @green;
  color: @bg;
}

/* bottom waybar */
